<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read User</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <h1>{{dojo.name}}</h1>
    <div class="boxOne">
        <table>
            <div class="top">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                </tr>
            </div>
            {% for ninjas in ninjas %}
            <div class="row">
                <tr>
                    <td>{{ninjas.first_name}}</td>
                    <td>{{ninjas.last_name}}</td>
                    <td>{{ninjas.age}}</td>
                </tr>
            </div>
            {% endfor %}
        </table>
    </div>
    <footer><a href="/">Home</a></footer>
</body>

</html>