<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninjas</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="m_container test">
        <div class="ninjaBox test">
            <h1>New Ninja</h1>
            <form action="/ninja/process" method="post">
                <div class="dojo_form">
                    <label">Choose a dojo:</label>
                        <select name="dojos_id">
                            <option value="0">Select</option>
                            {% for name in dojos %}
                            <option value = "{{name.id}}">{{name.name}}</option>
                            {% endfor %}
                        </select>
                </div>
                <!-- ----------------First Input --------- -->
                <div class="dojo_form">
                    <label for="first_name">First Name:</label>
                    <input type="text" name="first_name">
                </div>
                <!-- ----------------Second Input --------->
                <div class="dojo_form">
                    <label for="last_name">Last Name:</label>
                    <input type="text" name="last_name">
                </div>
                <!-- ----------------Third Input --------- -->
                <div class="dojo_form">
                    <label for="age">Age:</label>
                    <input type="text" name="age">
                </div>
                <div class="addNinja">
                    <button class="submit">Add</button>
                </div>
                
            </form>
        </div>
    </div>
    <footer><a href="/">Home</a></footer>
</body>

</html>